@import "../../style.scss";

.user-dashboard {
  @include themify($themes) {
    background-color: themed("bgSoft");

    .media-container {
      width: 100%;
      height: 300px;
      position: relative;

      .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .avatar {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid #ff7900;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 6px 3px 25px -10px rgba(0, 0, 0, 0.38);

        top: 190px; /* تقليل المسافة العلوية لتوفير مساحة أكبر للاسم */
      }
    }

    .user-container {
      padding: 20px 40px; /* تقليل البادينغ قليلاً لتحسين التناسق بين العناصر */

      @include mobile {
        padding: 10px;
      }

      @include tablet {
        padding: 15px;
      }

      .user-overview {
        height: 100px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 40px;
        padding-bottom: 65px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        @include mobile {
          flex-direction: column;
          height: auto;
          padding: 20px;
          margin-top: 100px;
        }

        .contact-section {
          flex: 1;
          display: flex;
          gap: 15px;

          @include tablet {
            flex-wrap: wrap;
          }

          a {
            color: themed("textColorSoft");
            font-size: 1.5rem;
            transition: color 0.3s ease;

            &:hover {
              color: themed("primary");
            }
          }
        }

        .user-details {
          flex: 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 15px;

          span {
            font-size: 24px; /* تصغير حجم اسم المستخدم ليكون أكثر توازناً */
            font-weight: 600;
            color: themed("textColor");
            margin-left: 20px;
          }

          .user-stats {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;
            cursor: pointer;

            .stat-item {
              display: flex;
              align-items: center;
              gap: 8px;
              color: themed("textColorSoft");
              
              span {
                font-size: 14px;
              }
            }
          }

          button {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 12px 25px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;

            &:hover {
              background-color: #3a56e0;
            }
          }
        }

        .action-section {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 15px;

          .social-icon {
            font-size: 2rem;
            color: themed("textColorSoft");
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
              color: themed("primary");
            }
          }
        }
      }

      .user-publications {
        display: flex;
        flex-direction: column;
        gap: 20px; 
      }

      .publication-actions {
        display: flex;
        flex-direction: row;
        gap: 450px;
      }

      .user-post {
        background-color: themed("bg");
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        border: 1px solid #ddd; 

        .post-container {
          display: flex;
          flex-direction: column;
        }

        .user-info {
          display: flex;
          gap: 15px;

          .user-profile {
            display: flex;
            align-items: center;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .user-details {
            display: flex;
            flex-direction: column;
          }
        }

        .post-content {
          margin-top: 15px;

          img {
            width: 100%;
            margin-top: 10px;
            border-radius: 5px;
          }
        }

        .post-info {
          display: flex;
          justify-content: space-between;
          margin-top: 15px;

          .item {
            font-size: 14px;
            color: themed("textColorSoft");
          }
        }

        .post-comments {
          margin-top: 20px;
          border-top: 1px solid #ddd; 

          .comment {
            display: flex;
            gap: 15px;
            margin-top: 15px;

            .comment-user {
              display: flex;
              gap: 10px;

              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }

              .comment-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
            }

            .comment-content {
              margin-top: 5px;
              font-size: 14px;
              color: themed("textColorSoft");
            }
          }

          p {
            font-size: 14px;
            color: themed("textColorSoft");
          }
        }
      }

      .social-icon {
        font-size: 2rem;
        color: themed("textColorSoft");
        transition: color 0.3s ease;
    
        &:hover {
          color: themed("primary");
        }
      }

      .modal {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
      }

      .edit-form {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        margin: 30px auto;
        width: 85%;
        max-width: 500px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }
  }

  input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: small;
  }
  
  button {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 48%;
    margin: 5px 1%;
  }
  
  button.submit-button.save {
    background-color: black;
    color: white;
  }
  
  button.submit-button.close {
    background-color: #cd3c14;
    color: white;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .success-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
  }

  .user-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .user-name-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #525252;
    font-weight: bold;
  }

  .edit-section {
    display: flex;
    justify-content: flex-end;
    align-items: right;
  }

  .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: rgb(123, 123, 123);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    position: relative;

    &:hover {
      background-color: #c6c6c6;
    }

    svg {
      font-size: 18px;
    }
  }

  .divider {
    margin-top: 10px;
    height: 2px;
    background-color: #f6f3f3;
    border: none;
    width: 100%;
  }

  .stat-item {
    position: relative;
  }

  .hover-text {
    display: none;  
    position: absolute;  
    top: -50px;  
    left: 0;
    background-color: rgba(228, 228, 228, 0.8);  
    color: #272727;  
    padding: 5px;
    border-radius: 3px;
    font-size:12px;
    opacity: 0; 
    transition: opacity 0.3s ease;  
  }

  .stat-item:hover .hover-text {
    display:block;  
    opacity: 1;  
    width: 70px;
  }
}
